<div class="mat-display-1">Dispylay 1</div>
<div class="mat-display-4">Dispylay 4</div>

<div class="mat-headline">headline</div>
<div class="mat-title">headline</div>
<div class="mat-subheading-1">sub h 1</div>
<div class="mat-subheading-2">sub h 2</div>

<div class="mat-body-1">body 1dkdkdkkkkkkkkkkk</div>
<div class="mat-body-2">body 2bssbhhsbbshsbssssss</div>
<div class="mat-caption">body 2bssbhhsbbshsbssssss</div>

<div class="mat-typography">
  <h1>hahahaa</h1>
  <h2>jjdjdjdj</h2>
  <h3>kskskskks</h3>
</div>